<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<div class="container">
			<!-- form starts here -->
			<div class="my-form">
				<form action="/memes" method="POST">
					<div class="form-group">
						<label for="fname">Name</label>
						<input type="text" id="fname" name="name" />
					</div>
					<div class="form-group">
						<label for="caption">Caption</label>
						<input type="text" id="caption" name="caption" />
					</div>
					<div class="form-group">
						<label for="imgurl">URL</label>
						<input type="text" id="imgurl" name="url" required />
					</div>
					<div class="form-group">
						<button>submit</button>
					</div>
				</form>
			</div>
			<!-- form ends here -->
			<hr />
			<!-- images starts here -->

			<div id="img-container" class="image-container">
				<% memes.forEach((meme) => { %>
				<div class="image-arranger">
					<div><%= meme.caption %></div>
					<button>
						<a class="edit" data-doc="<%= memes._id %>">edit</a>
					</button>
					<img class="images" src="<%= meme.url %>" />
					<div>by <%= meme.name %></div>
					<div>13/02/2021</div>
				</div>
				<% }) %>
			</div>
			<!-- images ends here -->
		</div>
		<%- include('./partials/footer.ejs')%>
	</body>
	<script>
		const edit = document.querySelector('a.edit');
		edit.addEventListener('click', (e) => {});

		/*  // an ajax call is ready to execute.
			edit.addEventListener('click', (e) => {
			const endpoint = `/memes/${edit.dataset.doc}`;

			// to trigger the id when we click the delete button
			// hence we are doing AJAX call.
			fetch(endpoint, {
				method: 'DELETE',
			})
				.then((response) => response.json())
				.then((data) => (window.location.href = data.redirect))
				.catch((err) => console.log(err));
		}); */
	</script>
</html>
